@page "/Employees"
@inherits EmployeeListBase
@using MatBlazor

<h3>Employee Master</h3>
<MatButton Raised="true" Link="/">Add Employee</MatButton>
<hr />

@if (Employees == null)
{
<div class="spinner">
</div>
}
else
{
<MatTable Items="Employees" Striped="true" 
                    FilterByColumnName="FirstName" DebounceMilliseconds="150" class="mat-elevation-z5">
    <MatTableHeader>
        <th>ID</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Action</th>
    </MatTableHeader>

    <MatTableRow>
        <td>@context.Id</td>
        <td>@context.FirstName</td>
        <td>@context.LastName</td>
        <td>
            <MatBlazor.MatButton Raised="true" Link="/" Icon="edit"></MatBlazor.MatButton>
            |
            <MatBlazor.MatButton Raised="true" Link="/" Icon="restore_from_trash"></MatBlazor.MatButton>
        </td>
    </MatTableRow>

</MatTable>
}





