@page "/Employees"
@inherits EmployeeListBase

<h3>Employee Master</h3>
<MatBlazor.MatButton Raised="true" Link="/">Add Employee</MatBlazor.MatButton>
<hr />

@if (Employees == null)
{
    <div class="spinner">
    </div>
}
else
{
    <MatBlazor.MatTable Items="Employees" class="mat-elevation-z5" Striped="true" FilterByColumnName="Name">
        <MatTableHeader>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Action</th>
        </MatTableHeader>

        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.FirstName</td>
            <td>@context.LastName</td>
            <td>
                <MatBlazor.MatButton Raised="true" Link="/" Icon="edit"></MatBlazor.MatButton>
                |
                <MatBlazor.MatButton Raised="true" Link="/" Icon="restore_from_trash"></MatBlazor.MatButton>
            </td>
        </MatTableRow>
    </MatBlazor.MatTable>
}





